// Primary Colors
$primary-lightest: #004d4570;
$primary-lighter-translucid: #DEEFED66;
$primary-lighter: #DEEFED;
$primary-medium: #abc4c2;
$primary-light: #008D7F;
$primary-main: #00685E;
$primary-dark: #004D45;

// Error Colors
$error-light: #fff1f1;
$error-main: #df2f1f;
$error-dark: #c93d31;

// Warning Colors
$warning-light: #fff3e0;
$warning-main: #ffb53d;
$warning-dark: #eaad48;

// Success Colors
$success-light: #f0fff6;
$success-main: #2ace75;
$success-dark: #36b972;

// Grey Colors
$grey-darkest: #000000;
$grey-darker: #404040;
$grey-darker-transparent: #40404080;
$grey-dark: #808080;
$grey-dark2: #8C8C8C;
$grey-main: #b5b5b5;
$grey-light: #d4d4d4;
$grey-lighter: #f5f6f6;

// White Colors
$white-translucid: #fafbfb;
$white-main: #ffffff;

// Red Colors
$red-light: #fb8074;
$red-main: #df2f1f;

// Blue Colors
$blue-main: #2F74DB;
$blue-light: #347FEF;
$blue-dark: #2D67BF;
$blue-darker: #4763B8;

// Orange Colors
$orange-light: #ffead9;
$orange-dark: #ffcea9;
$orange-darker: #f4b686;
$orange-main: #feb05d;

// Skyblue Color
$skyblue-main: #41B6E6;

// Action Colors
$action-disabled: #c2cfe0;

// Loading Colors
$loading-main: #f3f3f3;
$loading-light: #ecebeb;

// Stroke Colors
$stroke-default: #CECECE;
$stroke-dark: #9B9B9B;

// Surface Colors
$surface-shaded: #F5F5F5;

// Disable Colors
$disable-accent: #9B9B9B;

// Text Colors
$text-primary: #424242;
$text-secondary: #757575;
