$spacing-none: 0rem;
$spacing-xxs: 0.2rem;
$spacing-xs: 0.6rem;
$spacing-s: 1rem;
$spacing-m: 1.2rem;
$spacing-l: 1.6rem;
$spacing-xl: 1.8rem;
$spacing-xxl: 2rem;
$spacing-xxl2: 2.4rem;
$spacing-xxl3: 4rem;
$spacing-xxl4: 5rem;
$spacing-xxl5: 6rem;
$spacing-xxl6: 7rem;
