@import '@/components/styles/variables/pallete';

.footer-container {
  background-color: $grey-darker;
  display: flex;
  flex-direction: row-reverse;
  color: $text-secondary;
  padding-right: 10px;
}